@import '../../variable.scss';

.App .Welcome {
  padding-top: 100px;
  text-align: center;

  .button-con {
    margin-bottom: 20px;
  }

  .startBtn {
    @include button;
    display: inline-block;
    font: 600 14px/36px 'Noto Sans KR', sans-serif;
    height: 36px;
    padding: 0 20px;
    border-radius: 2px;
    background: #ff6600;
    color: rgba(255,255,255, .8);
    &:hover {
      color: rgba(255,255,255, .9);
    }
  }


}